In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("Titanic-Dataset.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
def delete_object(data):
    for i in data.columns:
        missing_percentage = data[i].isnull().sum() / len(data) * 100
        if missing_percentage > 50:
            data.drop([i], axis = 1, inplace = True)

    return data

delete_object(df)

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [17]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize = [10, 5])
sns.heatmap(df.corr(numeric_only=True), annot=True)

TypeError: corr() got an unexpected keyword argument 'numeric_only'

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def label_encoder(data):
    for i in data.columns:
        if data[i].dtype == "object":
            data[i] = le.fit_transform(data[i])
            
label_encoder(df)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,2
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,1,27.0,0,0,101,13.0000,2
887,888,1,1,303,0,19.0,0,0,14,30.0000,2
888,889,0,3,413,0,NaN,1,2,675,23.4500,2
889,890,1,1,81,1,26.0,0,0,8,30.0000,0
890,891,0,3,220,1,32.0,0,0,466,7.7500,1

In [20]:
#Handle missing values

def handle_missing(data):
    for i in data.columns:
        if data[i].isnull().any():
            data[i].fillna(np.mean(df[i]), inplace = True)
            
handle_missing(df)

df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [21]:
#Scaling function
from sklearn.preprocessing import MinMaxScaler
def scaling_function(data):
    scaler = MinMaxScaler()
    scaled_data = scaler.fit_transform(data)

    return scaled_data

In [22]:
#Split our target column
y = df["Survived"]
#Remove the unnecessary column 
x = df.drop(["Name", "Survived"], axis = 1)
scaled_x = scaling_function(x)

In [23]:
import tensorflow as tf

model = tf.keras.Sequential([
    #tf.keras.layers.Dense(units = 128, activation = "relu", kernel_regularizer=tf.keras.regularizers.l2(0.01)),
    tf.keras.layers.Dense(units = 64, activation = "relu", kernel_regularizer=tf.keras.regularizers.l2(0.01)),
    tf.keras.layers.Dense(units = 32, activation = "relu", kernel_regularizer=tf.keras.regularizers.l2(0.01)),
    tf.keras.layers.Dense(units = 1, activation = "sigmoid")
])

model.compile(optimizer = tf.keras.optimizers.Adam(learning_rate=0.001), loss = tf.keras.losses.BinaryCrossentropy(), metrics = "accuracy")
model.fit(scaled_x, y, validation_data = (scaled_x, y), epochs = 100, batch_size = 32)

Epoch 1/100
28/28 [==============================] - 4s 27ms/step - loss: 1.1616 - accuracy: 0.6162 - val_loss: 1.0587 - val_accuracy: 0.6162
Epoch 2/100
28/28 [==============================] - 0s 7ms/step - loss: 0.9868 - accuracy: 0.6364 - val_loss: 0.9138 - val_accuracy: 0.7059
Epoch 3/100
28/28 [==============================] - 0s 6ms/step - loss: 0.8572 - accuracy: 0.7632 - val_loss: 0.8021 - val_accuracy: 0.7800
Epoch 4/100
28/28 [==============================] - 0s 6ms/step - loss: 0.7636 - accuracy: 0.7688 - val_loss: 0.7233 - val_accuracy: 0.7823
Epoch 5/100
28/28 [==============================] - 0s 6ms/step - loss: 0.6973 - accuracy: 0.7868 - val_loss: 0.6674 - val_accuracy: 0.7868
Epoch 6/100
28/28 [==============================] - 0s 6ms/step - loss: 0.6485 - accuracy: 0.7823 - val_loss: 0.6289 - val_accuracy: 0.7868
Epoch 7/100
28/28 [==============================] - 0s 6ms/step - loss: 0.6157 - accuracy: 0.7868 - val_loss: 0.5964 - val_accuracy: 0.7868
Epoch 8/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5868 - accuracy: 0.7845 - val_loss: 0.5744 - val_accuracy: 0.7879
Epoch 9/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5676 - accuracy: 0.7890 - val_loss: 0.5567 - val_accuracy: 0.7890
Epoch 10/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5510 - accuracy: 0.7924 - val_loss: 0.5474 - val_accuracy: 0.7991
Epoch 11/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5397 - accuracy: 0.7957 - val_loss: 0.5353 - val_accuracy: 0.7912
Epoch 12/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5312 - accuracy: 0.8002 - val_loss: 0.5252 - val_accuracy: 0.7980
Epoch 13/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5230 - accuracy: 0.7969 - val_loss: 0.5181 - val_accuracy: 0.7991
Epoch 14/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5187 - accuracy: 0.8002 - val_loss: 0.5180 - val_accuracy: 0.7935
Epoch 15/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5131 - accuracy: 0.7946 - val_loss: 0.5119 - val_accuracy: 0.8081
Epoch 16/100
28/28 [==============================] - 0s 6ms/step - loss: 0.5077 - accuracy: 0.8058 - val_loss: 0.5062 - val_accuracy: 0.7957
Epoch 17/100
28/28 [==============================] - 1s 28ms/step - loss: 0.5050 - accuracy: 0.8070 - val_loss: 0.5007 - val_accuracy: 0.8025
Epoch 18/100
28/28 [==============================] - 0s 8ms/step - loss: 0.5006 - accuracy: 0.8025 - val_loss: 0.4979 - val_accuracy: 0.8036
Epoch 19/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4982 - accuracy: 0.8058 - val_loss: 0.4949 - val_accuracy: 0.8025
Epoch 20/100
28/28 [==============================] - 0s 11ms/step - loss: 0.4961 - accuracy: 0.8013 - val_loss: 0.4931 - val_accuracy: 0.8047
Epoch 21/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4951 - accuracy: 0.8070 - val_loss: 0.4916 - val_accuracy: 0.8081
Epoch 22/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4929 - accuracy: 0.7969 - val_loss: 0.4885 - val_accuracy: 0.8092
Epoch 23/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4894 - accuracy: 0.8036 - val_loss: 0.4869 - val_accuracy: 0.8058
Epoch 24/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4879 - accuracy: 0.8070 - val_loss: 0.4869 - val_accuracy: 0.8058
Epoch 25/100
28/28 [==============================] - 0s 10ms/step - loss: 0.4869 - accuracy: 0.8036 - val_loss: 0.4846 - val_accuracy: 0.8092
Epoch 26/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4888 - accuracy: 0.8047 - val_loss: 0.4827 - val_accuracy: 0.8081
Epoch 27/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4858 - accuracy: 0.8081 - val_loss: 0.4817 - val_accuracy: 0.8070
Epoch 28/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4827 - accuracy: 0.8103 - val_loss: 0.4819 - val_accuracy: 0.8114
Epoch 29/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4829 - accuracy: 0.8148 - val_loss: 0.4842 - val_accuracy: 0.7980
Epoch 30/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4813 - accuracy: 0.8002 - val_loss: 0.4803 - val_accuracy: 0.8114
Epoch 31/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4817 - accuracy: 0.8081 - val_loss: 0.4783 - val_accuracy: 0.8114
Epoch 32/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4786 - accuracy: 0.8070 - val_loss: 0.4789 - val_accuracy: 0.8159
Epoch 33/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4816 - accuracy: 0.8058 - val_loss: 0.4819 - val_accuracy: 0.8137
Epoch 34/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4852 - accuracy: 0.8013 - val_loss: 0.4780 - val_accuracy: 0.8114
Epoch 35/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4780 - accuracy: 0.8126 - val_loss: 0.4751 - val_accuracy: 0.8103
Epoch 36/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4763 - accuracy: 0.8070 - val_loss: 0.4744 - val_accuracy: 0.8114
Epoch 37/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4754 - accuracy: 0.8025 - val_loss: 0.4774 - val_accuracy: 0.8126
Epoch 38/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4784 - accuracy: 0.8047 - val_loss: 0.4735 - val_accuracy: 0.8070
Epoch 39/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4750 - accuracy: 0.8148 - val_loss: 0.4735 - val_accuracy: 0.8171
Epoch 40/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4743 - accuracy: 0.8159 - val_loss: 0.4771 - val_accuracy: 0.7957
Epoch 41/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4742 - accuracy: 0.8092 - val_loss: 0.4723 - val_accuracy: 0.8114
Epoch 42/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4747 - accuracy: 0.8092 - val_loss: 0.4726 - val_accuracy: 0.8070
Epoch 43/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4736 - accuracy: 0.8114 - val_loss: 0.4717 - val_accuracy: 0.8058
Epoch 44/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4732 - accuracy: 0.8148 - val_loss: 0.4717 - val_accuracy: 0.8159
Epoch 45/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4724 - accuracy: 0.8126 - val_loss: 0.4714 - val_accuracy: 0.8159
Epoch 46/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4744 - accuracy: 0.8013 - val_loss: 0.4717 - val_accuracy: 0.8159
Epoch 47/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4720 - accuracy: 0.8070 - val_loss: 0.4703 - val_accuracy: 0.8159
Epoch 48/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4709 - accuracy: 0.8126 - val_loss: 0.4690 - val_accuracy: 0.8126
Epoch 49/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4706 - accuracy: 0.8114 - val_loss: 0.4687 - val_accuracy: 0.8126
Epoch 50/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4705 - accuracy: 0.8126 - val_loss: 0.4685 - val_accuracy: 0.8103
Epoch 51/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4713 - accuracy: 0.8137 - val_loss: 0.4682 - val_accuracy: 0.8103
Epoch 52/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4725 - accuracy: 0.8070 - val_loss: 0.4679 - val_accuracy: 0.8171
Epoch 53/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4723 - accuracy: 0.8126 - val_loss: 0.4675 - val_accuracy: 0.8114
Epoch 54/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4714 - accuracy: 0.8036 - val_loss: 0.4675 - val_accuracy: 0.8103
Epoch 55/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4689 - accuracy: 0.8137 - val_loss: 0.4679 - val_accuracy: 0.8047
Epoch 56/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4694 - accuracy: 0.8092 - val_loss: 0.4718 - val_accuracy: 0.8137
Epoch 57/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4720 - accuracy: 0.7991 - val_loss: 0.4702 - val_accuracy: 0.8137
Epoch 58/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4692 - accuracy: 0.8103 - val_loss: 0.4677 - val_accuracy: 0.8013
Epoch 59/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4677 - accuracy: 0.8148 - val_loss: 0.4664 - val_accuracy: 0.8171
Epoch 60/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4696 - accuracy: 0.8047 - val_loss: 0.4668 - val_accuracy: 0.8159
Epoch 61/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4703 - accuracy: 0.8081 - val_loss: 0.4655 - val_accuracy: 0.8114
Epoch 62/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4679 - accuracy: 0.8058 - val_loss: 0.4677 - val_accuracy: 0.7991
Epoch 63/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4670 - accuracy: 0.8126 - val_loss: 0.4652 - val_accuracy: 0.8182
Epoch 64/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4687 - accuracy: 0.8058 - val_loss: 0.4680 - val_accuracy: 0.8159
Epoch 65/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4704 - accuracy: 0.8036 - val_loss: 0.4708 - val_accuracy: 0.8148
Epoch 66/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4683 - accuracy: 0.8081 - val_loss: 0.4644 - val_accuracy: 0.8103
Epoch 67/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4672 - accuracy: 0.8047 - val_loss: 0.4645 - val_accuracy: 0.8103
Epoch 68/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4663 - accuracy: 0.8148 - val_loss: 0.4641 - val_accuracy: 0.8171
Epoch 69/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4679 - accuracy: 0.8025 - val_loss: 0.4639 - val_accuracy: 0.8092
Epoch 70/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4664 - accuracy: 0.8070 - val_loss: 0.4653 - val_accuracy: 0.8025
Epoch 71/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4660 - accuracy: 0.8081 - val_loss: 0.4633 - val_accuracy: 0.8126
Epoch 72/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4650 - accuracy: 0.8070 - val_loss: 0.4641 - val_accuracy: 0.8171
Epoch 73/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4657 - accuracy: 0.8126 - val_loss: 0.4630 - val_accuracy: 0.8092
Epoch 74/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4669 - accuracy: 0.8047 - val_loss: 0.4629 - val_accuracy: 0.8114
Epoch 75/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4686 - accuracy: 0.8036 - val_loss: 0.4678 - val_accuracy: 0.8171
Epoch 76/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4714 - accuracy: 0.7969 - val_loss: 0.4644 - val_accuracy: 0.8182
Epoch 77/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4654 - accuracy: 0.8126 - val_loss: 0.4630 - val_accuracy: 0.8114
Epoch 78/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4638 - accuracy: 0.8081 - val_loss: 0.4644 - val_accuracy: 0.8002
Epoch 79/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4654 - accuracy: 0.8171 - val_loss: 0.4621 - val_accuracy: 0.8103
Epoch 80/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4659 - accuracy: 0.8070 - val_loss: 0.4626 - val_accuracy: 0.8092
Epoch 81/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4637 - accuracy: 0.8126 - val_loss: 0.4618 - val_accuracy: 0.8103
Epoch 82/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4634 - accuracy: 0.8103 - val_loss: 0.4614 - val_accuracy: 0.8126
Epoch 83/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4638 - accuracy: 0.8070 - val_loss: 0.4614 - val_accuracy: 0.8081
Epoch 84/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4643 - accuracy: 0.8092 - val_loss: 0.4617 - val_accuracy: 0.8215
Epoch 85/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4657 - accuracy: 0.8002 - val_loss: 0.4633 - val_accuracy: 0.8159
Epoch 86/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4630 - accuracy: 0.8114 - val_loss: 0.4608 - val_accuracy: 0.8103
Epoch 87/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4651 - accuracy: 0.8058 - val_loss: 0.4666 - val_accuracy: 0.8137
Epoch 88/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4638 - accuracy: 0.8126 - val_loss: 0.4608 - val_accuracy: 0.8081
Epoch 89/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4628 - accuracy: 0.8126 - val_loss: 0.4605 - val_accuracy: 0.8159
Epoch 90/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4667 - accuracy: 0.8126 - val_loss: 0.4700 - val_accuracy: 0.8070
Epoch 91/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4681 - accuracy: 0.7991 - val_loss: 0.4624 - val_accuracy: 0.8148
Epoch 92/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4625 - accuracy: 0.8070 - val_loss: 0.4602 - val_accuracy: 0.8137
Epoch 93/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4614 - accuracy: 0.8081 - val_loss: 0.4602 - val_accuracy: 0.8193
Epoch 94/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4623 - accuracy: 0.8114 - val_loss: 0.4608 - val_accuracy: 0.8047
Epoch 95/100
28/28 [==============================] - 0s 10ms/step - loss: 0.4624 - accuracy: 0.8081 - val_loss: 0.4599 - val_accuracy: 0.8171
Epoch 96/100
28/28 [==============================] - 0s 8ms/step - loss: 0.4617 - accuracy: 0.8036 - val_loss: 0.4595 - val_accuracy: 0.8103
Epoch 97/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4614 - accuracy: 0.8092 - val_loss: 0.4617 - val_accuracy: 0.8148
Epoch 98/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4621 - accuracy: 0.8070 - val_loss: 0.4591 - val_accuracy: 0.8148
Epoch 99/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4617 - accuracy: 0.8013 - val_loss: 0.4590 - val_accuracy: 0.8103
Epoch 100/100
28/28 [==============================] - 0s 9ms/step - loss: 0.4609 - accuracy: 0.8081 - val_loss: 0.4589 - val_accuracy: 0.8126

In [24]:
loss, accuracy = model.evaluate(scaled_x, y)

print("Loss:", loss)
print("Accuracy:", accuracy)

28/28 [==============================] - 0s 4ms/step - loss: 0.4589 - accuracy: 0.8126
Loss: 0.4588528871536255
Accuracy: 0.8125701546669006